/* 一般设置 */

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background-color: #e4e4e4;
    background-image: url("../images/background.jpg");
}

body {
    width: 80%;
    margin: 0 auto;
}

/* 表格排版 */
table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

tbody {
    font-size: 95%;
    font-style: italic;
}
tfoot {
    font-weight: bold;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}
  
th {
    background-color: rgb(235,235,235);
}
  
td {
    text-align: center;
}
  
tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}
  
tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}
  
caption {
    padding: 10px;
}
  
/* 文字排版 */
  
h1, h2, h3 {
    font-family: 'Sonsie One', 'ZCOOL KuaiLe', cursive;
    color: #2a2a2a;
}
  
p, input, li {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #2a2a2a;
}

img {
    display: block; /* 使行级元素具有块级行为，使图像有外边距 */
    margin: 0 auto;
}
  
h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px   black;
}
  
h2 {
    font-size: 3rem;
    text-align: center;
}
  
h3 {
    font-size: 2.2rem;
}
  
p, li {
    font-size: 1.6rem;
    line-height: 1.5;
}


.editor-note {/*给 HTML 元素加个类名（class）*/
    color:#5194a8;
    font-size: 1.5rem
}

span.editor-note {/*选中每个 special 类的 span 元素*/
    color:#5194a8;
    font-size: 1.5rem
}

li em {/*选择<li>内部的任何<em>元素*/
    color: rebeccapurple;
}

h2 + p {/*直接出现在h2后面并且与h2具有相同层级的段落样式*/
    font-size: 200%;
}

a:link {/*没有被访问的链接颜色变为粉色*/
    color: pink;
}
  
a:visited {/*访问过的链接变为绿色*/
    color: green;
}

a:hover {/*链接被鼠标悬停时*/
    text-decoration: none;
}




/* 标题布局 */
  
nav, article, aside, footer {
    background-color: white;
    padding: 1%;
}
  
nav {
    height: 50px;
    background-color: #5194a8;
    display: flex;
    margin-bottom: 10px;
}
  
nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}
  
nav li {
    display: inline;
    text-align: center;
    flex: 1;
}
  
nav a {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition-duration: 200ms;
}
  
nav form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;
}
  
nav a:hover {
    color: white;
    text-shadow: 0 0 10px wheat;
    transition-duration: 200ms;
}
  
input {
    font-size: 1.6rem;
    height: 32px;
}
  
input[type="search"] {
    flex: 3;
}
  
input[type="submit"] {
    flex: 1;
    margin-left: 1rem;
    background: #333;
    border: 0;
    color: white;
}
  
/* 主体布局 */
  
main {
    display: flex;
}
  
article {
    flex: 4;
}
  
aside {
    flex: 1;
    margin-left: 10px;
    background-color: #5194a8;
}
  
aside li {
    padding-bottom: 10px;
}
  
footer {
    margin-top: 10px;
}